body {
    background: url("../images/background-FHD.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.callout {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: .3rem;
}